oc:
  app:
    # On définit un secret en dur pour les tests pour éviter l'erreur si la variable est absente
    jwtSecret: "maSuperCleSecreteDeTestPourCypress1234567890"
    jwtExpirationMs: 3600000 # 1 heure suffit pour les tests

spring:
  docker:
    compose:
      enabled: false
  datasource:
    # Configuration H2 en mémoire
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=MySQL
    username: sa
    password: 
  jpa:
    hibernate:
      # create-drop : crée la base au démarrage et la supprime à l'arrêt
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true # Permet d'aller voir la base sur http://localhost:8080/h2-console